@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.AppConfig
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.header.Header
@import views.html.partials.{LanguageSelection, Head, Scripts, CustomHeader}

@this(
        govukLayout: GovukLayout,
        customHeader: CustomHeader,
        hmrcFooter: HmrcFooter,
        head: Head,
        languageSelection: LanguageSelection,
        scripts: Scripts
)

@(pageTitle: String)(contentBlock: Html)(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)
@import appConfig._

@headerBlock = {
    @customHeader(Header(
        homepageUrl = "https://www.gov.uk/",
        displayHmrcBanner = true,
        language = if(messages.lang.code == cy) Cy else En)
    )
}

@beforeContentBlock = {
    @if(appConfig.enableLanguageSwitching) {
        @languageSelection()
    }
}

@govukLayout(
    pageTitle = Some(pageTitle),
    headBlock = Some(head()),
    headerBlock = Some(headerBlock),
    scriptsBlock = Some(scripts()),
    beforeContentBlock = Some(beforeContentBlock),
    footerBlock = Some(hmrcFooter())
)(contentBlock)
