@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.AppConfig
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.header.Header
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcStandardFooter
@import views.html.partials.LanguageSelection
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcHead
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcScripts

@this(
        govukLayout: GovukLayout,
        hmrcHeader: HmrcHeader,
        hmrcStandardFooter: HmrcStandardFooter,
        hmrcBanner: HmrcBanner,
        hmrcHead: HmrcHead,
        hmrcScripts: HmrcScripts,
        languageSelection: LanguageSelection
)

@(pageTitle: String, beforeContent: Option[Html] = None, isWelshTranslationAvailable: Boolean = true)(contentBlock: Html)(implicit request: RequestHeader, messages: Messages, appConfig: AppConfig)
@import appConfig._

@headerBlock = {
    @hmrcHeader(Header(
        homepageUrl = "https://www.gov.uk/",
        language = if(messages.lang.code == cy) Cy else En,
        displayHmrcBanner = true
    ))
}

@beforeContentBlock = {
    @if(isWelshTranslationAvailable && appConfig.enableLanguageSwitching) {
        @languageSelection()
    }
    @beforeContent
}

@govukLayout(
    pageTitle = Some(pageTitle),
    headBlock = Some(hmrcHead()),
    headerBlock = Some(headerBlock),
    scriptsBlock = Some(hmrcScripts()),
    beforeContentBlock = Some(beforeContentBlock),
    footerBlock = Some(hmrcStandardFooter())
)(contentBlock)
