@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.TransitionHelper

@this(transitionHelper: TransitionHelper)
@()(implicit messages: Messages)
@countdown = {
  @defining(messages("transition.countdown.title")) { title =>
    @if(title != "") {
      <h2 class="hmrc-transition-countdown__title">@title</h2>
    }
  }
  @if(transitionHelper.show) {
    <p class="hmrc-transition-countdown__countdown">
      <span class="hmrc-transition-countdown__countdown-number">@transitionHelper.daysLeftText.head</span><span class="hmrc-transition-countdown__countdown-number">@transitionHelper.daysLeftText.last</span>
      <span class="hmrc-transition-countdown__countdown-text">@transitionHelper.daysText</span>
    </p>
  }
  @defining(messages("transition.countdown.text")) { text =>
    @if(text != "") {
      <p class="hmrc-transition-countdown__text">@text</p>
    }
  }
}
@defining(messages("transition.url")) { url =>
  @if(url != "") {
    <a href="@url" class="hmrc-transition-countdown hmrc-transition-countdown--cta govuk-link" lang="en" dir="ltr">
      @countdown
    </a>
  } else {
    <div class="hmrc-transition-countdown" lang="en" dir="ltr">
      @countdown
    </div>
  }
}